body {
    text-align: center;
    background-color: #000000;
    color: white;
  }

  #clock { 
    font-size: 150px; 
    width: 900px; 
    margin: auto; 
    text-align: center;
    border: 5px solid rgb(255, 255, 255); 
    border-radius: 5px; 
    position: relative;
    bottom: 50px;
  } 
